
</body>

    <style>
        @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

        h1{
             
  
  display: flex;
  justify-content: center;
  align-items: center;

        }
       
  .container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

}

.table {
  width: 115%;
  border: 1px solid #eeeeee;
}

.table-header {
  display: flex;
  width: 115%;
  background: #bb5c5ca4;
  padding: 18px 0; /* Increased padding */
  border-bottom: 1px solid #000000; 
}

.table-row {
  display: flex;
  width: 115%;
  padding: 18px 0; /* Increased padding */
  border-bottom: 1px solid #080202;
}
.table-row:nth-of-type(odd) {
  background: #eeeeee;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
}

    </style>
</head>
<body>
    <%- include('partials/header'); %>
    <h1>Admin Portal </h1>
    <div class="container">
	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">ID</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">VENUE</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">START TIME</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">END TIME </a></div>
			
      <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Phone Number</a></div>
      <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Payment Status</a></div>
            <div class="header__item"><a id="action" class="filter__link" href="#">Actions</a></div>
		</div>
         <% timetable.forEach(function(booking) { %>
		<div class="table-content">	
			<div class="table-row">		
				<div class="table-data"><%= booking.id %></div>
				<div class="table-data"><%= booking.venue %></div>
				<div class="table-data"><%= booking.Start_time %></div>
				<div class="table-data"><%= booking.End_time %></div>
        <div class="table-data"><%= booking.Phone %></div>
       <div class="table-data"><%= booking.Status %></div>

        <div class="table-data"> <a href="admin/update/<%= booking.id %>"><button>update</button></a></div>
                <div class="table-data"> <a href="admin/delete/<%= booking.id %>"><button>Cancel</button></a></div>
                
			</div>	
		</div>	
         <% }); %>
        
	</div>
</div>
  
</body>
