<!DOCTYPE html>
<html>
  <head>
    <title>The WeEvent</title>
    <link rel="icon" type="image/x-icon" href="/public/Images/logo.png" />
    <meta name="description" content="This is the description" />
    <link rel="stylesheet" href="/public/home.css" />
    <link rel="stylesheet" href="/public/forms.css" />
  </head>
  <style>
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    * {
      -webkit-tap-highlight-color: rgba(160, 145, 145, 0.87);
      transform-style: preserve-3d;
    }

    *:focus {
      outline: none !important;
    }

    .body {
      font-family: faune, fantasy;
    }

    @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50vh;
    }

    .table {
      width: 100%;
      border: 1px solid #eeeeee;
    }

    .table-header {
      display: flex;
      width: 100%;
      background: #000;
      padding: 18px 0;
    }

    .table-row {
      display: flex;
      width: 100%;
      padding: 18px 0;
    }
    .table-row:nth-of-type(odd) {
      background: #eeeeee;
    }

    .table-data,
    .header__item {
      flex: 1 1 20%;
      text-align: center;
    }

    .header__item {
      text-transform: uppercase;
    }

    .photo-grid {
      position: relative;
      font-style: italic;
      padding: 5%;
    }
    .photo-grid ul {
      display: grid;
      grid-template-columns: 1fr;
      list-style: none;
    }
    .photo-grid ul li {
      width: 97%;
      height: 97%;
      overflow: hidden;
    }
    .photo-grid figure,
    .photo-grid picture,
    .photo-grid img {
      display: block;
      max-width: 100%;
    }
    .photo-grid figure {
      position: relative;
    }
    .photo-grid figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .photo-grid fieldset {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding: 3px;
    }
    .photo-grid .photo-close {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    .photo-grid label,
    .photo-grid .photo-link {
      cursor: pointer;
    }
    .photo-grid .photo-link {
      will-change: opacity;
      display: block;
      position: relative;
      z-index: 1;
      padding: 3px;
    }
    .photo-grid .icon {
      display: block;
      width: 25px;
      height: 25px;
    }
    .photo-grid .icon group,
    .photo-grid .icon path,
    .photo-grid .icon polyline,
    .photo-grid .icon polygon,
    .photo-grid .icon circle,
    .photo-grid .icon ellipse,
    .photo-grid .icon rect {
      fill: none;
      fill-rule: evenodd;
      stroke: white;
      stroke-width: 7px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    .photo-grid input {
      display: none;
    }
    .photo-grid input ~ label.photo-link {
      display: none;
    }
    .photo-grid input:checked ~ dl {
      transform: none;
      opacity: 1;
      z-index: 2;
    }
    .photo-grid input:checked ~ .photo-close {
      z-index: unset;
    }
    .photo-grid input:checked ~ label.photo-link {
      opacity: 0;
    }
    .photo-grid dl {
      transform: translateY(25%);
      opacity: 0;
      z-index: 0;
      transition: all 0.3s ease-out;
      will-change: opacity, transform;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 12px;
      font-size: 24px;
      color: white;
      background-color: rgba(61, 75, 82, 0.9);
    }
    .photo-grid dl label,
    .photo-grid dl .photo-link {
      position: absolute;
      right: 0;
      z-index: 1;
      padding: 6px;
    }
    .photo-grid dl label {
      top: 0;
    }
    .photo-grid dl .photo-link {
      bottom: 0;
    }
    .photo-grid dl div {
      position: relative;
      z-index: 0;
    }
    .photo-grid dl dt,
    .photo-grid dl dd {
      display: inline;
    }
    .photo-grid dl dt {
      opacity: 0.7;
      font-weight: bold;
    }
    .photo-grid dl dt:after {
      content: ": ";
    }

    @supports (-webkit-backdrop-filter: blur(10px)) {
      .photo-grid dl {
        background-color: rgba(17, 23, 26, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
      }
    }
    @media only screen and (min-width: 600px) {
      .photo-grid input ~ label.photo-link {
        opacity: 0;
      }
      .photo-grid li:hover input ~ label.photo-link {
        opacity: 1;
      }
      .photo-grid li:hover input:checked ~ label.photo-link {
        opacity: 0;
      }
      .photo-grid input ~ label.photo-link {
        display: block;
      }
    }
    @media only screen and (min-width: 800px) {
      .photo-grid ul {
        grid-template-columns: 1fr 1fr;
      }
    }
    @media only screen and (min-width: 2000px) {
      .photo-grid ul {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    @media only screen and (min-width: 3000px) {
      .photo-grid ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  </style>

  <body>
    <%- include('partials/header'); %>
    <h2 class="section-header">VENUE</h2>
    <h1>Venue Booking Details</h1>
    <% if (timetable.length === 0) { %>
    <p>No bookings found for the logged-in user.</p>
    <% } else { %>
    <div class="container">
      <div class="table">
        <div class="table-header">
          <div class="header__item">
            <a id="name" class="filter__link" href="#">ID</a>
          </div>
          <div class="header__item">
            <a id="wins" class="filter__link filter__link--number" href="#"
              >VENUE</a
            >
          </div>
          <div class="header__item">
            <a id="draws" class="filter__link filter__link--number" href="#"
              >START TIME</a
            >
          </div>
          <div class="header__item">
            <a id="losses" class="filter__link filter__link--number" href="#"
              >END TIME
            </a>
          </div>
          <div class="header__item">
            <a id="total" class="filter__link filter__link--number" href="#"
              >VENUE LOCATION</a
            >
          </div>
        </div>
        <% timetable.forEach(function(booking) { %>
        <div class="table-content">
          <div class="table-row">
            <div class="table-data"><%= booking.id %></div>
            <div class="table-data"><%= booking.venue %></div>
            <div class="table-data"><%= booking.Start_time %></div>
            <div class="table-data"><%= booking.End_time %></div>
            <div class="table-data"><%= booking.venue_location %></div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <% } %>

    <main ontouchstart>
      <section class="photo-grid">
        <ul class="grid-isotope">
          <li class="photo-grid-item">
            <figure>
              <picture>
                <source
                  media="(max-width: 3000px)"
                  srcset="
                    https://gabriellew.ee/static/images/photography/2021-03-02-home.jpg,
                    https://gabriellew.ee/static/images/photography/2021-03-02-home.jpg 2x
                  "
                />
                <img
                  alt=""
                  src="https://gabriellew.ee/static/images/photography/2021-03-02-home.jpg"
                />
              </picture>
              <figcaption>
                <fieldset>
                  <input id="2021-03-02-home" type="checkbox" />
                  <label class="photo-close" for="2021-03-02-home"></label>
                  <label class="photo-link" for="2021-03-02-home">
                    <svg class="icon" viewBox="0 0 100 100">
                      <circle cx="49" cy="49" r="36"></circle>
                      <path
                        d="M45,69 L55,69 M45,39 L50,39 L50,69 M49.5,29 L50,29"
                      ></path>
                    </svg>
                  </label>
                  <dl>
                    <label for="2021-03-02-home">
                      <svg class="icon" viewBox="0 0 100 100">
                        <polyline points="14 32 50 68 86 32"></polyline>
                      </svg>
                    </label>
                    <div>
                      <dt>Date</dt>
                      <dd>02 March 2021</dd>
                    </div>
                    <div>
                      <dt>Location</dt>
                      <dd>San Francisco, CA</dd>
                    </div>
                    <div>
                      <dt>Camera</dt>
                      <dd>iPhone 12 Pro Max</dd>
                    </div>
                    <div>
                      <dt>Editor</dt>
                      <dd>VSCO</dd>
                    </div>
                    <a href="book">
                      <button class="oauthButton">
                        Book
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-arrow-right-square"
                          viewBox="0 0 16 16"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                          />
                        </svg>
                      </button>
                    </a>
                    <a
                      class="photo-link"
                      href="https://gabriellew.ee/static/images/photography/2021-03-02-home.jpg"
                      tabindex="-1"
                      target="_blank"
                    >
                      <svg class="icon" viewBox="0 0 100 100">
                        <path
                          d="M82,38 L82,78.9930191 C82,80.6537288 80.663269,82 78.9989882,82 L21.0010118,82 C19.3435988,82 18,80.663269 18,78.9989882 L18,21.0010118 C18,19.3435988 19.3408574,18 21.0069809,18 L62,18 M88.9559283,10.8111066 L57.9878833,42.132705 M69.2453268,10.8994949 L89.0443166,10.8994949 L89.0443166,30.6984848"
                        ></path>
                      </svg>
                    </a>
                  </dl>
                </fieldset>
              </figcaption>
            </figure>
          </li>
          <li class="photo-grid-item">
            <figure>
              <picture>
                <source
                  media="(max-width: 3000px)"
                  srcset="
                    https://gabriellew.ee/static/images/photography/2021-03-01-agate-beach.jpg,
                    https://gabriellew.ee/static/images/photography/2021-03-01-agate-beach.jpg 2x
                  "
                />
                <img
                  alt=""
                  src="https://gabriellew.ee/static/images/photography/2021-03-01-agate-beach.jpg"
                />
              </picture>
              <figcaption>
                <fieldset>
                  <input id="2021-03-01-agate-beach" type="checkbox" />
                  <label
                    class="photo-close"
                    for="2021-03-01-agate-beach"
                  ></label>
                  <label class="photo-link" for="2021-03-01-agate-beach">
                    <svg class="icon" viewBox="0 0 100 100">
                      <circle cx="49" cy="49" r="36"></circle>
                      <path
                        d="M45,69 L55,69 M45,39 L50,39 L50,69 M49.5,29 L50,29"
                      ></path>
                    </svg>
                  </label>
                  <dl>
                    <label for="2021-03-01-agate-beach">
                      <svg class="icon" viewBox="0 0 100 100">
                        <polyline points="14 32 50 68 86 32"></polyline>
                      </svg>
                    </label>
                    <div>
                      <dt>Date</dt>
                      <dd>01 March 2021</dd>
                    </div>
                    <div>
                      <dt>Location</dt>
                      <dd>Patrick’s Point State Park, Trinidad, CA</dd>
                    </div>
                    <div>
                      <dt>Camera</dt>
                      <dd>iPhone 12 Pro Max</dd>
                    </div>
                    <div>
                      <dt>Editor</dt>
                      <dd>VSCO</dd>
                    </div>
                    <button class="oauthButton">
                      Book
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-square"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                        />
                      </svg>
                    </button>
                    <a
                      class="photo-link"
                      href="https://gabriellew.ee/static/images/photography/2021-03-01-agate-beach.jpg"
                      tabindex="-1"
                      target="_blank"
                    >
                      <svg class="icon" viewBox="0 0 100 100">
                        <path
                          d="M82,38 L82,78.9930191 C82,80.6537288 80.663269,82 78.9989882,82 L21.0010118,82 C19.3435988,82 18,80.663269 18,78.9989882 L18,21.0010118 C18,19.3435988 19.3408574,18 21.0069809,18 L62,18 M88.9559283,10.8111066 L57.9878833,42.132705 M69.2453268,10.8994949 L89.0443166,10.8994949 L89.0443166,30.6984848"
                        ></path>
                      </svg>
                    </a>
                  </dl>
                </fieldset>
              </figcaption>
            </figure>
          </li>
          <li class="photo-grid-item">
            <figure>
              <picture>
                <source
                  media="(max-width: 3000px)"
                  srcset="
                    https://gabriellew.ee/static/images/photography/2021-02-28-sunset.jpg,
                    https://gabriellew.ee/static/images/photography/2021-02-28-sunset.jpg 2x
                  "
                />
                <img
                  alt=""
                  src="https://gabriellew.ee/static/images/photography/2021-02-28-sunset.jpg"
                />
              </picture>
              <figcaption>
                <fieldset>
                  <input id="2021-02-28-sunset" type="checkbox" />
                  <label class="photo-close" for="2021-02-28-sunset"></label>
                  <label class="photo-link" for="2021-02-28-sunset">
                    <svg class="icon" viewBox="0 0 100 100">
                      <circle cx="49" cy="49" r="36"></circle>
                      <path
                        d="M45,69 L55,69 M45,39 L50,39 L50,69 M49.5,29 L50,29"
                      ></path>
                    </svg>
                  </label>
                  <dl>
                    <label for="2021-02-28-sunset">
                      <svg class="icon" viewBox="0 0 100 100">
                        <polyline points="14 32 50 68 86 32"></polyline>
                      </svg>
                    </label>
                    <div>
                      <dt>Date</dt>
                      <dd>28 February 2021</dd>
                    </div>
                    <div>
                      <dt>Location</dt>
                      <dd>Crescent Harbor, Crescent City, CA</dd>
                    </div>
                    <div>
                      <dt>Camera</dt>
                      <dd>iPhone 12 Pro Max</dd>
                    </div>
                    <div>
                      <dt>Editor</dt>
                      <dd>VSCO</dd>
                    </div>
                    <button class="oauthButton">
                      Book
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-square"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                        />
                      </svg>
                    </button>
                    <a
                      class="photo-link"
                      href="https://gabriellew.ee/static/images/photography/2021-02-28-sunset.jpg"
                      tabindex="-1"
                      target="_blank"
                    >
                      <svg class="icon" viewBox="0 0 100 100">
                        <path
                          d="M82,38 L82,78.9930191 C82,80.6537288 80.663269,82 78.9989882,82 L21.0010118,82 C19.3435988,82 18,80.663269 18,78.9989882 L18,21.0010118 C18,19.3435988 19.3408574,18 21.0069809,18 L62,18 M88.9559283,10.8111066 L57.9878833,42.132705 M69.2453268,10.8994949 L89.0443166,10.8994949 L89.0443166,30.6984848"
                        ></path>
                      </svg>
                    </a>
                  </dl>
                </fieldset>
              </figcaption>
            </figure>
          </li>
          <li class="photo-grid-item">
            <figure>
              <picture>
                <source
                  media="(max-width: 3000px)"
                  srcset="
                    https://gabriellew.ee/static/images/photography/2021-02-27-sunset.jpg,
                    https://gabriellew.ee/static/images/photography/2021-02-27-sunset.jpg 2x
                  "
                />
                <img
                  alt=""
                  src="https://gabriellew.ee/static/images/photography/2021-02-27-sunset.jpg"
                />
              </picture>
              <figcaption>
                <fieldset>
                  <input id="2021-02-27-sunset" type="checkbox" />
                  <label class="photo-close" for="2021-02-27-sunset"></label>
                  <label class="photo-link" for="2021-02-27-sunset">
                    <svg class="icon" viewBox="0 0 100 100">
                      <circle cx="49" cy="49" r="36"></circle>
                      <path
                        d="M45,69 L55,69 M45,39 L50,39 L50,69 M49.5,29 L50,29"
                      ></path>
                    </svg>
                  </label>
                  <dl>
                    <label for="2021-02-27-sunset">
                      <svg class="icon" viewBox="0 0 100 100">
                        <polyline points="14 32 50 68 86 32"></polyline>
                      </svg>
                    </label>
                    <div>
                      <dt>Date</dt>
                      <dd>27 February 2021</dd>
                    </div>
                    <div>
                      <dt>Location</dt>
                      <dd>Waldport, OR</dd>
                    </div>
                    <div>
                      <dt>Camera</dt>
                      <dd>iPhone 12 Pro Max</dd>
                    </div>
                    <div>
                      <dt>Editor</dt>
                      <dd>VSCO</dd>
                    </div>
                    <button class="oauthButton">
                      Book
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-square"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                        />
                      </svg>
                    </button>
                    <a
                      class="photo-link"
                      href="https://gabriellew.ee/static/images/photography/2021-02-27-sunset.jpg"
                      tabindex="-1"
                      target="_blank"
                    >
                      <svg class="icon" viewBox="0 0 100 100">
                        <path
                          d="M82,38 L82,78.9930191 C82,80.6537288 80.663269,82 78.9989882,82 L21.0010118,82 C19.3435988,82 18,80.663269 18,78.9989882 L18,21.0010118 C18,19.3435988 19.3408574,18 21.0069809,18 L62,18 M88.9559283,10.8111066 L57.9878833,42.132705 M69.2453268,10.8994949 L89.0443166,10.8994949 L89.0443166,30.6984848"
                        ></path>
                      </svg>
                    </a>
                  </dl>
                </fieldset>
              </figcaption>
            </figure>
          </li>
          <li class="photo-grid-item">
            <figure>
              <picture>
                <source
                  media="(max-width: 3000px)"
                  srcset="
                    https://gabriellew.ee/static/images/photography/2021-02-26-sunset.jpg,
                    https://gabriellew.ee/static/images/photography/2021-02-26-sunset.jpg 2x
                  "
                />
                <img
                  alt=""
                  src="https://gabriellew.ee/static/images/photography/2021-02-26-sunset.jpg"
                />
              </picture>
              <figcaption>
                <fieldset>
                  <input id="2021-02-26-sunset" type="checkbox" />
                  <label class="photo-close" for="2021-02-26-sunset"></label>
                  <label class="photo-link" for="2021-02-26-sunset">
                    <svg class="icon" viewBox="0 0 100 100">
                      <circle cx="49" cy="49" r="36"></circle>
                      <path
                        d="M45,69 L55,69 M45,39 L50,39 L50,69 M49.5,29 L50,29"
                      ></path>
                    </svg>
                  </label>
                  <dl>
                    <label for="2021-02-26-sunset">
                      <svg class="icon" viewBox="0 0 100 100">
                        <polyline points="14 32 50 68 86 32"></polyline>
                      </svg>
                    </label>
                    <div>
                      <dt>Date</dt>
                      <dd>26 February 2021</dd>
                    </div>
                    <div>
                      <dt>Location</dt>
                      <dd>Waldport, OR</dd>
                    </div>
                    <div>
                      <dt>Camera</dt>
                      <dd>iPhone 12 Pro Max</dd>
                    </div>
                    <div>
                      <dt>Editor</dt>
                      <dd>VSCO</dd>
                    </div>
                    <button class="oauthButton">
                      Book
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-square"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                        />
                      </svg>
                    </button>
                    <a
                      class="photo-link"
                      href="https://gabriellew.ee/static/images/photography/2021-02-26-sunset.jpg"
                      tabindex="-1"
                      target="_blank"
                    >
                      <svg class="icon" viewBox="0 0 100 100">
                        <path
                          d="M82,38 L82,78.9930191 C82,80.6537288 80.663269,82 78.9989882,82 L21.0010118,82 C19.3435988,82 18,80.663269 18,78.9989882 L18,21.0010118 C18,19.3435988 19.3408574,18 21.0069809,18 L62,18 M88.9559283,10.8111066 L57.9878833,42.132705 M69.2453268,10.8994949 L89.0443166,10.8994949 L89.0443166,30.6984848"
                        ></path>
                      </svg>
                    </a>
                  </dl>
                </fieldset>
              </figcaption>
            </figure>
          </li>
          <li class="photo-grid-item">
            <figure>
              <picture>
                <source
                  media="(max-width: 3000px)"
                  srcset="
                    https://gabriellew.ee/static/images/photography/2021-02-26-snow-2.jpg,
                    https://gabriellew.ee/static/images/photography/2021-02-26-snow-2.jpg 2x
                  "
                />
                <img
                  alt=""
                  src="https://gabriellew.ee/static/images/photography/2021-02-26-snow-2.jpg"
                />
              </picture>
              <figcaption>
                <fieldset>
                  <input id="2021-02-26-snow-2" type="checkbox" />
                  <label class="photo-close" for="2021-02-26-snow-2"></label>
                  <label class="photo-link" for="2021-02-26-snow-2">
                    <svg class="icon" viewBox="0 0 100 100">
                      <circle cx="49" cy="49" r="36"></circle>
                      <path
                        d="M45,69 L55,69 M45,39 L50,39 L50,69 M49.5,29 L50,29"
                      ></path>
                    </svg>
                  </label>
                  <dl>
                    <label for="2021-02-26-snow-2">
                      <svg class="icon" viewBox="0 0 100 100">
                        <polyline points="14 32 50 68 86 32"></polyline>
                      </svg>
                    </label>
                    <div>
                      <dt>Date</dt>
                      <dd>26 February 2021</dd>
                    </div>
                    <div>
                      <dt>Location</dt>
                      <dd>Willamette National Forest, OR</dd>
                    </div>
                    <div>
                      <dt>Camera</dt>
                      <dd>iPhone 12 Pro Max</dd>
                    </div>
                    <div>
                      <dt>Editor</dt>
                      <dd>VSCO</dd>
                    </div>
                    <button class="oauthButton">
                      Book
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-square"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                        />
                      </svg>
                    </button>
                    <a
                      class="photo-link"
                      href="https://gabriellew.ee/static/images/photography/2021-02-26-snow-2.jpg"
                      tabindex="-1"
                      target="_blank"
                    >
                      <svg class="icon" viewBox="0 0 100 100">
                        <path
                          d="M82,38 L82,78.9930191 C82,80.6537288 80.663269,82 78.9989882,82 L21.0010118,82 C19.3435988,82 18,80.663269 18,78.9989882 L18,21.0010118 C18,19.3435988 19.3408574,18 21.0069809,18 L62,18 M88.9559283,10.8111066 L57.9878833,42.132705 M69.2453268,10.8994949 L89.0443166,10.8994949 L89.0443166,30.6984848"
                        ></path>
                      </svg>
                    </a>
                  </dl>
                </fieldset>
              </figcaption>
            </figure>
          </li>
          <li class="photo-grid-item">
            <figure>
              <picture>
                <source
                  media="(max-width: 3000px)"
                  srcset="
                    https://gabriellew.ee/static/images/photography/2021-02-26-rainforest.jpg,
                    https://gabriellew.ee/static/images/photography/2021-02-26-rainforest.jpg 2x
                  "
                />
                <img
                  alt=""
                  src="https://gabriellew.ee/static/images/photography/2021-02-26-rainforest.jpg"
                />
              </picture>
              <figcaption>
                <fieldset>
                  <input id="2021-02-26-rainforest" type="checkbox" />
                  <label
                    class="photo-close"
                    for="2021-02-26-rainforest"
                  ></label>
                  <label class="photo-link" for="2021-02-26-rainforest">
                    <svg class="icon" viewBox="0 0 100 100">
                      <circle cx="49" cy="49" r="36"></circle>
                      <path
                        d="M45,69 L55,69 M45,39 L50,39 L50,69 M49.5,29 L50,29"
                      ></path>
                    </svg>
                  </label>
                  <dl>
                    <label for="2021-02-26-rainforest">
                      <svg class="icon" viewBox="0 0 100 100">
                        <polyline points="14 32 50 68 86 32"></polyline>
                      </svg>
                    </label>
                    <div>
                      <dt>Date</dt>
                      <dd>26 February 2021</dd>
                    </div>
                    <div>
                      <dt>Location</dt>
                      <dd>Cascadia, OR</dd>
                    </div>
                    <div>
                      <dt>Camera</dt>
                      <dd>iPhone 12 Pro Max</dd>
                    </div>
                    <div>
                      <dt>Editor</dt>
                      <dd>VSCO</dd>
                    </div>
                    <button class="oauthButton">
                      Book
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-square"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                        />
                      </svg>
                    </button>
                    <a
                      class="photo-link"
                      href="https://gabriellew.ee/static/images/photography/2021-02-26-rainforest.jpg"
                      tabindex="-1"
                      target="_blank"
                    >
                      <svg class="icon" viewBox="0 0 100 100">
                        <path
                          d="M82,38 L82,78.9930191 C82,80.6537288 80.663269,82 78.9989882,82 L21.0010118,82 C19.3435988,82 18,80.663269 18,78.9989882 L18,21.0010118 C18,19.3435988 19.3408574,18 21.0069809,18 L62,18 M88.9559283,10.8111066 L57.9878833,42.132705 M69.2453268,10.8994949 L89.0443166,10.8994949 L89.0443166,30.6984848"
                        ></path>
                      </svg>
                    </a>
                  </dl>
                </fieldset>
              </figcaption>
            </figure>
          </li>
          <li class="photo-grid-item">
            <figure>
              <picture>
                <source
                  media="(max-width: 3000px)"
                  srcset="
                    https://gabriellew.ee/static/images/photography/2021-02-11-chinatown.jpg,
                    https://gabriellew.ee/static/images/photography/2021-02-11-chinatown.jpg 2x
                  "
                />
                <img
                  alt=""
                  src="https://gabriellew.ee/static/images/photography/2021-02-11-chinatown.jpg"
                />
              </picture>
              <figcaption>
                <fieldset>
                  <input id="2021-02-11-chinatown" type="checkbox" />
                  <label class="photo-close" for="2021-02-11-chinatown"></label>
                  <label class="photo-link" for="2021-02-11-chinatown">
                    <svg class="icon" viewBox="0 0 100 100">
                      <circle cx="49" cy="49" r="36"></circle>
                      <path
                        d="M45,69 L55,69 M45,39 L50,39 L50,69 M49.5,29 L50,29"
                      ></path>
                    </svg>
                  </label>
                  <dl>
                    <label for="2021-02-11-chinatown">
                      <svg class="icon" viewBox="0 0 100 100">
                        <polyline points="14 32 50 68 86 32"></polyline>
                      </svg>
                    </label>
                    <div>
                      <dt>Date</dt>
                      <dd>11 February 2021</dd>
                    </div>
                    <div>
                      <dt>Location</dt>
                      <dd>Chinatown, San Francisco, CA</dd>
                    </div>
                    <div>
                      <dt>Camera</dt>
                      <dd>iPhone 12 Pro Max</dd>
                    </div>
                    <div>
                      <dt>Editor</dt>
                      <dd>VSCO</dd>
                    </div>
                    <button class="oauthButton">
                      Book
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-right-square"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                        />
                      </svg>
                    </button>
                    <a
                      class="photo-link"
                      href="https://gabriellew.ee/static/images/photography/2021-02-11-chinatown.jpg"
                      tabindex="-1"
                      target="_blank"
                    >
                      <svg class="icon" viewBox="0 0 100 100">
                        <path
                          d="M82,38 L82,78.9930191 C82,80.6537288 80.663269,82 78.9989882,82 L21.0010118,82 C19.3435988,82 18,80.663269 18,78.9989882 L18,21.0010118 C18,19.3435988 19.3408574,18 21.0069809,18 L62,18 M88.9559283,10.8111066 L57.9878833,42.132705 M69.2453268,10.8994949 L89.0443166,10.8994949 L89.0443166,30.6984848"
                        ></path>
                      </svg>
                    </a>
                  </dl>
                </fieldset>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
    </main>

    <%- include('partials/footer'); %>
  </body>
</html>
